.staricon {
  font-size: 18px;
  color: #050a30;
}
.starfilledicon {
  font-size: 18px;
  color: #050a30;
}
.deleteleadicon {
  font-size: 20px;
  color: #ff4d4f;
}
.editleadicon {
  font-size: 20px;
  color: #52c41a;
}
.usetswitchicon {
  font-size: 20px;
  color: #faad14;
}
.syncoutlineicon {
  font-size: 20px;
  color: #1890ff;
}
