/* Dealer.module.css */
.customTable .ant-table-thead th {
    background-color: red; 
    color: #cf3434; 
  }
  .customTable{
    background-color: red;
  }
  .ant-table-thead th{
 background-color: aqua;
  }