/* Admin css */

.admindeleteicon {
  color: red;
  font-size: 18px;
}

/* Dealer */
.dealerediticon {
  color: blue;
  font-size: 18px;
  margin: 0 10px;
}
.dealerdeleteicon {
  color: red;
  margin: 0 10px;
  font-size: 18px;
}

/* Employee */
